<div class="container col-12">
  <div class="row">
    <div class="space"></div>
  </div>
  <div class="col-lg-12" id="div-border">
    <div class="row">
      <div class="align-center">
        <h1>Sobre nós</h1>
        <p>((ECO)) é um projeto de E-Commerce Eco-Friendly, diverso, inclusivo, transparente e preocupado com os
          problemas socioambientais.
          Fundada em 2019, a ((ECO)) oferece cosméticos de bem estar, não testados em animais, biodegradáveis e que
          têm a preocupação em incentivar pequenos produtores a crescerem profissionalmente e pessoalmente, por meio
          da co-criação de produtos, para consumo consciente em todo o Brasil.</p>
      </div>
      <div class="space"></div>
    </div>
    <div class="align-center" id="content">
      <h1>Equipe </h1><br>
    </div>

    <div class="row">

      <div class="member align-center">
        <div (mouseover)="over0 = true" (mouseleave)="over0 = false">
          <div *ngIf="!over0; else elseBlock0">
            <div class="align-center col-lg-4">
              <img src="assets/Clara.jpg" class="rounded-circle img-resize" alt="">
              <h5>Clara Vidal</h5>
              <p id="clara">Desenvolvedora</p>
            </div>
          </div>

          <ng-template #elseBlock0>
            <div class="card" style="width: 15rem; height: 13rem;">
              <div class="card-body">
                <h5 class="card-title">Clara Vidal</h5>
                <p class="card-text">'Desenvolvedora Web Full Stack formada pela Generation. Geek, Potterhead,
                  autodidata, apaixonada por organização e infraestrutura está vivendo o grande sonho de atuar na área
                  de desenvolvimento. Nesse projeto atuou no Front-End.'</p>
                <a href="#" class="card-link">Link</a>
              </div>
            </div>
          </ng-template>
        </div>
      </div>



      <div class="member align-center">
        <div (mouseover)="over1 = true" (mouseleave)="over1 = false">
          <div *ngIf="!over1; else elseBlock1">
            <div class="align-center col-lg-4">
              <img src="assets/Leticia.jpg" class="rounded-circle img-resize" alt="">
              <h5>Letícia Assis</h5>
              <p id="leticia">Desenvolvedora</p>
            </div>
          </div>

          <ng-template #elseBlock1>
            <div class="card" style="width: 15rem; height: 13rem;">
              <div class="card-body">
                <h5 class="card-title">Letícia Assis</h5>
                <p class="card-text">Desenvolvedora Web Full Stack formada pela Generation. O amor e dedicação por
                  programação aconteceu por influência do curso de Engenharia Elétrica e só aumenta a cada dia. Nesse
                  projeto atuou tanto no Front-End quanto no Back-End. </p>
                <a href="#" class="card-link">Link</a>
              </div>
            </div>
          </ng-template>
        </div>
      </div>



      <div class="member align-center">
        <div (mouseover)="over2 = true" (mouseleave)="over2 = false">
          <div *ngIf="!over2; else elseBlock2">
            <div class="align-center col-lg-4">
              <img src="assets/Raul.jpg" class="rounded-circle img-resize" alt="">
              <h5>Raul Alvarenga</h5>
              <p id="raul">Desenvolvedor</p>
            </div>
          </div>

          <ng-template #elseBlock2>
            <div class="card" style="width: 15rem; height: 13rem;">
              <div class="card-body">
                <h5 class="card-title">Raul Alvarenga</h5>
                <p class="card-text">Desenvolvedor Web Full Stack formado pela Generation.Cientista da Computação em
                  formação e autodidata desde a infância, tem grande afinidade com a área da tecnologia e
                  desenvolvimento.Nesse projeto atuou como Back - End.</p>
                <a href="#" class="card-link">Link</a>
              </div>
            </div>
          </ng-template>
        </div>
      </div>





      <div class="member align-center">
        <div (mouseover)="over3 = true" (mouseleave)="over3 = false">
          <div *ngIf="!over3; else elseBlock3">
            <div class="align-center col-lg-4">
              <img src="assets/Samanta.jpg" class="rounded-circle img-resize" alt="">
              <h5>Samanta Guimarães</h5>
              <p id="sam">Desenvolvedora</p>
            </div>
          </div>

          <ng-template #elseBlock3>
            <div class="card" style="width: 15rem; height: 13rem;">
              <div class="card-body">
                <h5 class="card-title">Samanta Guimarães</h5>
                <p class="card-text">Desenvolvedora Web Full Stack formada pela Generation.Bacharel em Marketing, entrou
                  na área de desenvolvimento devido a paixão que adquiriu na infância pela tecnologia.Fã de cultura pop
                  e games.Nesse projeto atuou no Front - End.</p>
                <a href="#" class="card-link">Link</a>
              </div>
            </div>
          </ng-template>
        </div>
      </div>




      <div class="member align-center">
        <div (mouseover)="over4 = true" (mouseleave)="over4 = false">
          <div *ngIf="!over4; else elseBlock4">
            <div class="align-center col-lg-4">
                <img src="assets/Suellen.jpg" class="rounded-circle img-resize" alt="">
                <h5>Suellen Azevedo</h5>
                <p id="su">Desenvolvedora</p>
            </div>
          </div>

          <ng-template #elseBlock4>
            <div class="card" style="width: 15rem; height: 13rem;">
              <div class="card-body">
                <h5 class="card-title">Suellen Azevedo</h5>
                <p class="card-text">Desenvolvedora Web Full Stack formada pela Generation.Começou a programar devido ao
                  amor pela tecnologia, games e mundo geek.Nesse projeto atuou como Back - End.</p>
                <a href="#" class="card-link">Link</a>
              </div>
            </div>
          </ng-template>
        </div>
      </div>




      <!-- <div class="align-center col-lg-4" onmouseover="descIn('leticia',1)" onmouseout="descOut('leticia')">
          <img src="assets/Leticia.jpg" class="rounded-circle img-resize" alt="">
          <h5>Letícia Assis</h5>
          <p id="leticia">Desenvolvedora</p>
        </div>
        <div class="align-center col-lg-4" onmouseover="descIn1('raul',0)" onmouseout="descOut1('raul')">
          <img src="assets/Raul.jpg" class="rounded-circle img-resize" alt="">
          <h5>Raul Alvarenga</h5>
          <p id="raul">Desenvolvedor</p>
        </div>
        <div class="col-lg-2"></div>
        <div class="align-center col-lg-4" onmouseover="descIn('sam',2)" onmouseout="descOut('sam')">
          <img src="assets/Samanta.jpg" class="rounded-circle img-resize" alt="">
          <h5>Samanta Guimarães</h5>
          <p id="sam">Desenvolvedora</p>
        </div>
        <div class="align-center col-lg-4" onmouseover="descIn('su',3)" onmouseout="descOut('su')">
          <img src="assets/Suellen.jpg" class="rounded-circle img-resize" alt="">
          <h5>Suellen Azevedo</h5>
          <p id="su">Desenvolvedora</p>
        </div> -->
    </div>
  </div>
</div>