<div class="container col-12">
  <div class="row">
    <div class="space"></div>
  </div>
  <div class="col-lg-12" id="div-border">
    <div class="row">
      <div class="align-center">
        <h1>Sobre nós</h1>
        <img src="assets/preservacao.jpg" width="500" height="500" class="d-block w-100" alt="Imagem de uma pessoa segurando uma musa de planta">
        
        <p>((ECO)) é um projeto de E-Commerce Eco-Friendly, diverso, inclusivo, transparente e preocupado com os
          problemas socioambientais.
          Fundada em 2019, a ((ECO)) oferece cosméticos de bem estar, não testados em animais, biodegradáveis e que
          têm a preocupação em incentivar pequenos produtores a crescerem profissionalmente e pessoalmente, por meio
          da co-criação de produtos, para consumo consciente em todo o Brasil.</p>
      </div>
      <div class="space"></div>
    </div>
    <div class="align-center" id="content">
      <h1>Equipe </h1><br>
    </div>

    <div class="row col-12 ">


      <!-- Clara -->


      <div class="memberCard align-center col-lg-4">
        <div (mouseover)="over0 = true" (mouseleave)="over0 = false">
          <div *ngIf="!over0; else elseBlock0">
            <div>
              <img src="assets/Clara.jpg" class="rounded-circle img-resize" alt="Clara">
              <h5>Clara Vidal</h5>
              <p id="clara">Desenvolvedora</p>
            </div>
          </div>

          <ng-template #elseBlock0>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Clara Vidal</h5>
                <p class="card-text">Desenvolvedora Web Full Stack formada pela Generation. Geek, Potterhead,
                  autodidata, apaixonada por organização e infraestrutura está vivendo o grande sonho de atuar na área
                  de desenvolvimento. Nesse projeto atuou no Front-End.</p>
                  <a class="card-link" href="https://github.com/claravidal" target="_blank"><img src="assets/github_icon.png" id="github_icon" width="60" height="60" class="img" alt="Logo GitHub"></a>
                  <a class="card-link" href="https://www.linkedin.com/in/clara-vidal-carvalho/" target="_blank"><img src="assets/linkedin_icon.png" id="linkedin_icon" width="60" height="60" class="img" alt="Logo Linkedin"></a>
              </div>
            </div>
          </ng-template>
        </div>
      </div>



      <!-- Leticia -->



      <div class="memberCard align-center col-lg-4">
        <div (mouseover)="over1 = true" (mouseleave)="over1 = false">
          <div *ngIf="!over1; else elseBlock1">
            <div>
              <img src="assets/Leticia.jpg" class="rounded-circle img-resize" alt="Letícia">
              <h5>Letícia Assis</h5>
              <p id="leticia">Desenvolvedora</p>
            </div>
          </div>

          <ng-template #elseBlock1>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Letícia Assis</h5>
                <p class="card-text">Desenvolvedora Web Full Stack formada pela Generation. O amor e dedicação por
                  programação aconteceu por influência do curso de Engenharia Elétrica e só aumenta a cada dia. Nesse
                  projeto atuou tanto no Front-End quanto no Back-End. </p>
                <a class="card-link" href="https://github.com/DevLeticiaAssis" target="_blank"><img src="assets/github_icon.png" id="github_icon" width="60" height="60" class="img" alt="Logo GitHub"></a>
                <a class="card-link" href="https://www.linkedin.com/in/dev-letícia-assis" target="_blank"><img src="assets/linkedin_icon.png" id="linkedin_icon" width="50" height="50" class="img" alt="Logo Linkedin"></a>
              </div>
            </div>
          </ng-template>
        </div>
      </div>



      <!-- Raul -->




      <div class="memberCard align-center col-lg-4">
        <div (mouseover)="over2 = true" (mouseleave)="over2 = false">
          <div *ngIf="!over2; else elseBlock2">
            <div>
              <img src="assets/Raul.jpg" class="rounded-circle img-resize" alt="Raul">
              <h5>Raul Alvarenga</h5>
              <p id="raul">Desenvolvedor</p>
            </div>
          </div>

          <ng-template #elseBlock2>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Raul Alvarenga</h5>
                <p class="card-text">Desenvolvedor Web Full Stack formado pela Generation.Cientista da Computação em
                  formação e autodidata desde a infância, tem grande afinidade com a área da tecnologia e
                  desenvolvimento.Nesse projeto atuou como Back - End.</p>
                  <a class="card-link" href="https://github.com/raullveiga" target="_blank"><img src="assets/github_icon.png" id="github_icon" width="60" height="60" class="img" alt="Logo GitHub"></a>
                  <a class="card-link" href="https://www.linkedin.com/in/raul-alvarenga/" target="_blank"><img src="assets/linkedin_icon.png" id="linkedin_icon" width="50" height="50" class="img" alt="Logo Linkedin"></a>
              </div>
            </div>
          </ng-template>
        </div>
      </div>


      <div class="col-lg-2 smallSpace"></div>

      <!-- Samanta -->



      <div class="memberCard align-center col-lg-4">
        <div (mouseover)="over3 = true" (mouseleave)="over3 = false">
          <div *ngIf="!over3; else elseBlock3">
            <div>
              <img src="assets/Samanta.jpg" class="rounded-circle img-resize" alt="Samanta">
              <h5>Samanta Guimarães</h5>
              <p id="sam">Desenvolvedora</p>
            </div>
          </div>

          <ng-template #elseBlock3>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Samanta Guimarães</h5>
                <p class="card-text">Desenvolvedora Web Full Stack formada pela Generation.Bacharel em Marketing, entrou
                  na área de desenvolvimento devido a paixão que adquiriu na infância pela tecnologia.Fã de cultura pop
                  e games.Nesse projeto atuou no Front - End.</p>
                  <a class="card-link" href="https://github.com/samantaog" target="_blank"><img src="assets/github_icon.png" id="github_icon" width="60" height="60" class="img" alt="Logo GitHub"></a>
                  <a class="card-link" href="https://www.linkedin.com/in/samanta-guimaraes" target="_blank"><img src="assets/linkedin_icon.png" id="linkedin_icon" width="50" height="50" class="img" alt="Logo Linkedin"></a>
              </div>
            </div>
          </ng-template>
        </div>
      </div>




      <!-- Suelen -->



      <div class="memberCard align-center col-lg-4">
        <div (mouseover)="over4 = true" (mouseleave)="over4 = false">
          <div *ngIf="!over4; else elseBlock4">
            <div>
                <img src="assets/Suellen.jpg" class="rounded-circle img-resize" alt="Suellen">
                <h5>Suellen Azevedo</h5>
                <p id="su">Desenvolvedora</p>
            </div>
          </div>

          <ng-template #elseBlock4>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Suellen Azevedo</h5>
                <p class="card-text">Desenvolvedora Web Full Stack formada pela Generation.Começou a programar devido ao
                  amor pela tecnologia, games e mundo geek.Nesse projeto atuou como Back - End.</p>
                  <a class="card-link" href="https://github.com/suellenazevedo" target="_blank"><img src="assets/github_icon.png" id="github_icon" width="60" height="60" class="img" alt="Logo GitHub"></a>
                  <a class="card-link" href="https://www.linkedin.com/in/suellen-azevedo/" target="_blank"><img src="assets/linkedin_icon.png" id="linkedin_icon" width="50" height="50" class="img" alt="Logo Linkedin"></a>
              </div>
            </div>
          </ng-template>
        </div>
      </div>

      <div class="align-center">
        <h1>Apoio Institucional</h1>

        <p>((ECO)) é um projeto de E-Commerce Eco-Friendly, diverso, inclusivo, transparente e preocupado com os
          problemas socioambientais.
          Fundada em 2019, a ((ECO)) oferece cosméticos de bem estar, não testados em animais, biodegradáveis e que
          têm a preocupação em incentivar pequenos produtores a crescerem profissionalmente e pessoalmente, por meio
          da co-criação de produtos, para consumo consciente em todo o Brasil.</p>
      </div>
      <div class="space"></div>



    </div>
  </div>
</div>