<div class="espaco geral fonte"></div>
<!-- <div class="card fundo fixed-bottom">
    <div class="card-body">
      <blockquote class="blockquote mb-0"> -->
        <div class="fundo fixed-bottom fonte">

          <div id="footer" class="container-footer">
            <p style="margin: 1px">
                <a id="icons" href="https://www.facebook.com/"><img src=" assets/facebook_icon.png  " width="40" height="40"
                  alt="simbolo facebook" padding="50px"></a>
                  <a id="icons" href="https://linkedin.com/"><img src=" assets/linkedin_icon.png  " width="40" height="40"
                    alt="simbolo twitter"></a>
                    <img id="icons" src="https://img.icons8.com/ios-filled/50/000000/github.png">
                    <a id="icons" href="https://www.instagram.com/"><img src=" assets/instagram_icon.png  " width="40" height="40"
                      alt="simbolo instagram"></a>
                    </p>
                  </div>
                  <div class="footer-copyright text-center py-3 fonte">© 2019 - 2020 Copyright:
                    <br>
                    
                    <a class="cursor fonte" [routerLink]="'/home'"> (( ECO ))</a>
                  </div>
                  <!-- <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer> -->
                
                
                </div>


                  <!-- </blockquote> -->
                  <!-- </div> -->
<!-- </div> -->