<nav class="navbar navbar-expand-lg nav-color">
    <a class="navbar-brand font-color" [routerLink]="['/home']" href="logo"><img src="assets/icon.png" id="logo" width="60" height="60" class="img" alt="Logo ECO"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link font-color" [routerLink]="'/home'">Home <span class="sr-only">(current)</span></a>
      </li>
           <li class="nav-item">
        <a class="nav-link font-color" [routerLink]="'/produtos'">Produtos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link font-color" [routerLink]="'/about'">Sobre nós</a>
    </li>
    <li class="nav-item">
        <a class="nav-link font-color" [routerLink]="'/contato'">Contato</a>
    </li>
    <li class="nav-item">
        <a class="nav-link font-color" [routerLink]="'/cadastro'">Cadastro</a>
    </li>
    <li class="nav-item">
        <a class="nav-link font-color" [routerLink]="'/ajuda'">Ajuda</a>
    </li>
    <!-- <li class="nav-item">
        <a class="nav-link font-color" [routerLink]="'/login'">Login</a>
    </li> -->
      
          </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2 click-color" type="search" placeholder="Busca" aria-label="Search">
      <input type="submit" [routerLink]="'/login'" class="btn" value="Entrar">
    </form>
  </div>
</nav>
