<!-- <div class="card text-white bg-dark">
    <h1>Lorem...</h1>
  </div> -->


<div class="space"></div>
<nav class="navbar  sticky-top navbar-expand-lg nav-color">

    <a class="navbar-brand font-color" [routerLink]="['/home']" href="logo"><img src="assets/ECO2.png" id="logo" width="60" height="60" class="img" alt="Logo ECO"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>
   

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link font-color" [routerLink]="'/home'" >Home <span class="sr-only">(Página atual)</span></a>
            </li>
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle font-color" href="#" id="navbarDropdownMenuLink" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Produtos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Sabonetes</a>
                    <a class="dropdown-item" href="#">Hidratantes</a>
                    <a class="dropdown-item" href="#">Perfumes</a>
                </div>
            </li> -->
            <li class="nav-item">
                <a class="nav-link font-color" [routerLink]="'/produtos'">Produtos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-color" [routerLink]="'/about'">Sobre nós</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-color" [routerLink]="'/contato'">Contato</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-color" [routerLink]="'/cadastro'">Cadastro</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-color" href="#">Login</a>
            </li>
        </ul>
        
    </div>
</nav>